{% comment %}
Variables:
  label = str
  data = [ClassroomStats or ProgramStats, ...]
  graphSeries = [(label, ClassroomStats or ProgramStats attribute), ...]
  program.participationGoal = int|none
{% endcomment %}

{% load wrpt %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">//<![CDATA[

google.load("visualization", "1.0", { packages: ["corechart"] });
google.setOnLoadCallback(drawChart);

function drawChart () {

{% with program.participationGoal as goal %}
  var data = google.visualization.arrayToDataTable([
    ["Event date"
    {% for s in graphSeries %}, "{{ s.0 }}"{% endfor %}
    {% if goal != None %}, "Goal"{% endif %}],
    {% for d in data %}
      ["{{ d.date|escapejs }}"
      {% for s in graphSeries %}, {{ d|getattr_or_null:s.1 }}{% endfor %}
      {% if goal != None %}, {{ goal }}{% endif %}]
      {% if not forloop.last %},{% endif %}
    {% endfor %}
  ]);
{% endwith %}

  var options = {
    title: "Cumulative performance",
    backgroundColor: { fill: "#F7FAFD", strokeWidth: 2 },
    hAxis: { title: "Event date" },
    vAxis: { title: "{{ label|capfirst }} percentage",
      minValue: 0, maxValue: 100 }
  };

  var chart = new google.visualization.LineChart(
    document.getElementById("chart"));

  chart.draw(data, options);

}

//]]></script>
