{% extends "base.html" %}

{% comment %}
Variables:
  program = Program
  hasData = bool
  if hasData:
    classroomDataRanked = [tuple, ...]
{% endcomment %}

{% block javascript %}
{% if hasData %}
{% comment %}
Bizarrely, to get the include below to obey the outer conditional, it
is necessary to reference the path indirectly.
{% endcomment %}
{% with "wrpt/chart.html" as path %}
{% include path %}
{% endwith %}
{% endif %}
{% endblock %}

{% block breadcrumbs %} &raquo;
<a href="{% url "program" program.pk %}">{{ program }}</a>{% endblock %}

{% block body %}

{% block subbody %}{% endblock %}

<h2><a name="ptd">Performance to date</a></h2>

{% if hasData %}
{% if program.splitCounts %}
<table class="tabs">
<tr>
<th>Displaying category:</th>
{% if category == "overall" %}
<td class="selected">Overall</td>
{% else %}
<td><a href="{% url "program" program.pk %}#ptd">Overall</a></td>
{% endif %}
{% if category == "walk/bike" %}
<td class="selected">Walk/bike</td>
{% else %}
<td><a href="{% url "program" program.pk %}?c=a#ptd">Walk/bike</a></td>
{% endif %}
{% if category == "carpool/bus" %}
<td class="selected">Carpool/bus</td>
{% else %}
<td><a href="{% url "program" program.pk %}?c=i#ptd">Carpool/bus</a></td>
{% endif %}
</tr>
</table>
{% endif %}
{% block table %}{% endblock %}
<div id="program_chart" class="chart"></div>
{% else %}
<p>None.</p>
{% endif %}

<h2><a name="cs">Classroom standings</a></h2>

{% if hasData and classroomDataRanked %}
{% if program.splitCounts %}
<table class="tabs">
<tr>
<th>Displaying category:</th>
{% if category == "overall" %}
<td class="selected">Overall</td>
{% else %}
<td><a href="{% url "program" program.pk %}#cs">Overall</a></td>
{% endif %}
{% if category == "walk/bike" %}
<td class="selected">Walk/bike</td>
{% else %}
<td><a href="{% url "program" program.pk %}?c=a#cs">Walk/bike</a></td>
{% endif %}
{% if category == "carpool/bus" %}
<td class="selected">Carpool/bus</td>
{% else %}
<td><a href="{% url "program" program.pk %}?c=i#cs">Carpool/bus</a></td>
{% endif %}
</tr>
</table>
{% endif %}
{% block standings %}{% endblock %}
<div id="standings_chart" class="chart"></div>
{% else %}
<p>No data yet.</p>
{% endif %}

{% endblock %}
