{% extends "wrpt/program.html" %}

{% comment %}
Template for a program with 2+ classrooms.
Variables:
  program = Program
  totalEnrollment = int
  classrooms = [Classroom, ...]
  hasData = bool
  if hasData:
    dates = [EventDate, ...]
    data = [ProgramStats, ...]
    lastStats = ProgramStats # last entry in above not in future or None
    classroomData = [(classroom, lastStats, [ClassroomStats, ...]), ...]
    tableSlices = [str, ...]
    graphs = [...] # see chart.html
{% endcomment %}

{% block subbody %}

<p>Select a classroom below to view or update the participation by
that classroom.
{% if hasData %}
The table displays participation percentages for individual event
days. The graph displays cumulative percentages over time.
{% endif %}
</p>

<table class="form">
<tr><th>Program</th><td>{{ program }}</td></tr>
<tr><th>Enrollment</th><td>{{ totalEnrollment }}</td></tr>
<tr>
<th>Participation goal</th>
<td>
{% if program.participationGoal != None %}
{{ program.participationGoal }}%
{% else %}
-
{% endif %}
</td>
</tr>
{% if not hasData %}
<tr>
<th style="vertical-align: baseline">Classrooms</th>
<td>
{% for c in classrooms %}
<a href="{% url "classroom" c.pk %}">{{ c }}</a><br/>
{% endfor %}
</td>
</tr>
{% endif %}
</table>

{% endblock %}

{% block table %}

{% for slice in tableSlices %}
<table class="table-header-rotated">
<tr>
<th></th>
<th></th>
{% for d in data|slice:slice %}
{% comment %}
The <div><span>...</span></div> goofiness is necessary for the styling
to work.
{% endcomment %}
<th class="rotate-45"><div><span>{{ d.date }}</span></div></th>
{% endfor %}
{% if forloop.last %}
<th class="rotate-45"><div><span>Total to date</span></div></th>
{% endif %}
</tr>
<tr>
<th class="left-header overall-row">Program</th>
<th class="left-header overall-row">%</th>
{% for d in data|slice:slice %}
<td class="overall-row">
{% if d.combinedPct != None %}{{ d.combinedPct }}{% endif %}
</td>
{% endfor %}
{% if forloop.last %}
<td class="overall-row">{{ lastStats.combinedCumPct }}</td>
{% endif %}
</tr>
{% for r in classroomData %}
<tr>
<th class="left-header"><a
href="{% url "classroom" r.0.pk %}">{{ r.0 }}</a></th>
<th class="left-header">%</th>
{% for d in r.2|slice:slice %}
<td>{% if d.combinedPct != None %}{{ d.combinedPct }}{% endif %}</td>
{% endfor %}
{% if forloop.parentloop.last %}
<td class="overall-row">{{ r.1.combinedCumPct }}</td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endfor %}

{% endblock %}
